@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: "Timmons NY 2.0";
    src: url("../fonts/TimmonsNY_V2.005_Desktop/TIMMONSNY2.0-Regular.otf");
}
@font-face {
    font-family: "Roslindale Display Condensed, sans-serif";
    src: url("../fonts/Roslindale_Desktop/RoslindaleDisplayCondensed-Regular.otf")
}
._ {
    height: 100%;
    background-color: black;
}
:root {
    --font-one: "Timmons NY 2.0";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    background-color: #eae0e0;
}
html {
    font-size: 62.5%;
    overscroll-behavior: none;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    font-family: var(--font-one);
    color: white;
}
.container {
    margin: 0 auto;
    max-width: 144rem;
    padding: 0 1.2rem;
    height: 100%;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}
ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}
.preloader {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: hide 0ms 6.5s forwards;
}
.loader {
    /* border: 1px solid red; */
    display: flex;
    max-height: 60%;
    width: 500px;
    justify-content: center;
    gap: .01rem;
    overflow: hidden;
}

.digit-one > span, .digit-two > span, .digit-three > span {
    display: block;
    font-size: 30rem;
    /* font-size: clamp(5rem, , 10rem) */
}
.digit-one, .digit-two, .digit-three {
    transition: transform 1s ease-in-out;
}
.digit-one {
    transform: translateY(0);
    transition: transform 2s 2s ease-in-out;
    animation: digit-one 2s 2s ease-in-out forwards;
}
#d1 {
    text-align: end;
}
.digit-two {
    transform: translateY(0);
    transition: transform 3s ease-in-out;
    animation: digit-two 3s ease-in-out forwards;

}

.digit-three {
    transform: translateY(0);
    transition: transform 4s ease-in-out;
    animation: digit-three 4s ease-in-out forwards;
}

.revealer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    clip-path: inset(50% -50%);
    background-color: white;
    animation: reveal 650ms 4.2s forwards ease-in;
}
.images {
    overflow: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
.images > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(1.2);
    object-fit: cover;
}
.images > img:nth-child(3) {
    filter: grayscale(70%);
    /* opacity: 0; */
    animation: img 650ms 4.4s forwards, opac-1 1024ms 5s forwards;
}
.images > img:nth-child(2) {
    filter: grayscale(70%);
    animation: img 650ms 5s forwards, opac-2 1024ms 5.5s  forwards;
}
.images > img:nth-child(1) {
    filter: grayscale(70%);
    animation: img 1s 5.5s forwards, opac-3 1024ms 6s forwards;
}

.preload-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
    line-height: 1;
}
.preload-logo-one, .preload-logo-two {
    overflow: hidden;
    font-size: 4rem;

}
.preload-logo-one > h1 {
    position: relative;
    font-weight: 100;
    top: 50rem;
    animation: plt1 1s 3.9s forwards;
}
.preload-logo-two > h1 {
    position: relative;
    font-weight: 100;
    top: -50rem;
    animation: plt2 1s 4s forwards;
}
main {
    /* background-color: #d12d2d; */
    /* background: linear-gradient(180deg,black 30%, #5e1515 100%); */
    background: #eae0e0;
    /* background: black; */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: background 650ms 1s ease-in-out;
    /* clip-path: inset(100% 0% 0% 0%); */
    /* font-family: "Roslindale Display Condensed, sans-serif"; */
    /* animation: main 600ms 6.9s forwards ease-in-out; */
}
nav {
    display: flex;
    min-height: 10rem;
    align-items: center;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    max-width: calc(100% - 20px);
    justify-content: space-between;
    overflow: hidden;
    /* width: calc(100% / 1.08) */
}
nav > h1 {
    font-weight: 100;
    font-size: clamp(2.4rem, 7vw, 4rem);
    text-align: center;
}
.nav-menu {
    position: fixed;
    width: 100%;
    clip-path: inset(0% 50%);
    left: 0;
    width: 100%;
    height: 100%;
    transition: clip-path 650ms 100ms ease-in;
    top: 0;
    z-index: 5;
    display: none;
    background-color: white;
}
.nav-menu > ul {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* transform: scale(0); */
}
.nav-menu > ul > li > a {
    color: black;
    font-weight: 100;
    font-size: 5rem;    
}
.nav-close-icon {
    position: absolute;
    top: 50px;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
.nav-close-icon > img {
    height: 100%;
    margin: auto;
    position: relative;
    top: 10rem;
    transition: top 650ms ease-out;
    transition-delay: 250ms;
    cursor: pointer;
}

.links {
    overflow: hidden;
}
.links > a {
    position: relative;
    top: 10rem;
    transition: top 1s ease-out;
}
.links > a:nth-child(1) {
    transition-delay: 150ms;
}
.links > a:nth-child(2) {
    transition-delay: 250ms;
}
.links > a:nth-child(3) {
    transition-delay: 350ms;
}
.logo, nav > h1, .menu {
    width: 100%;
    position: relative;
    top: 20rem;
}
.logo, .menu {
    width: 30px;
}
.menu {
    cursor: pointer;
}
.hero-img {
    display: flex;
    position: relative;
    height: 100%;
    /* clip-path: inset(30% 30%); */
    /* transform: translateZ(2500px); */
    /* animation: hero 650ms 6s ease-in-out forwards; */
    margin: auto;
    width: 100%;
    
}
.hero-img > img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    /* transform: scale(1); */
    transition: transform 1s ease-out;
    animation: heroIMG 1024ms 650ms ease-out forwards;
    /* object-position: -50px 150px; */
}

.hero-img > img:nth-child(1) {
    z-index: 3;
    clip-path: inset(50% 0%);
    animation: heroIMG1 650ms 250ms ease-in forwards, heroIMG1Z 1024ms 1.3s ease-out forwards;
}
.hero-img > img:nth-child(2) {
    z-index: 2;
    opacity: 0;
    animation: heroIMGLeft 900ms 1.5s forwards, heroIMGLeftZ 900ms 1.5s ease-in forwards;   
}
.hero-img > img:nth-child(3) {
    z-index: 1;
    animation: heroIMGRight 900ms 1.5s forwards;   
}
.hero-img > img:not(:first-child) {
    opacity: 0;
    transform: scale(.38);
    /* animation: heroIMG1 650ms 250ms ease-in forwards, heroIMG1Z 1024ms 1.3s ease-out forwards; */
    /* animation: heroIMG2Z 500ms 2s ease-in forwards; */
}



.hero{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* perspective: 5000px; */
    overflow: hidden;
    /* animation: hero-perspect 650ms 4s ease-in-out forwards */
}
.hero-header {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
    will-change: transform;
    /* font-family: "Roslindale Display Condensed, sans-serif" */
}
.hero-header > span {
    /* font-size: 8rem; */
    font-size: clamp(8rem, 20vw, 16rem);
    font-weight: 100;
    position: relative;
    top: 20rem;
    opacity: 0;
    transition: top 650ms ease-in-out, opacity 850ms ease-in-out;
}
.content {
    height: 200%;
    background-color: black;
}
.content > h1 {
    text-align: center;
    font-weight: 100;
    filter: blur(15px);
    max-width: 15rem;
    margin: 0px auto;
    font-size: 8rem;
    line-height: 0.9;
    height: 20%;
    align-content: center;
}
.content-info {
    position: sticky;
    top: 0rem;
    height: 50%;
    display: grid;
    place-content: center;
    clip-path: circle(0%);
    background-color: white;
    color: black;
    /* overflow: hidden; */
}

.content-info > h1 {
    /* position: absolute; */
    font-weight: 100;
    font-size: 2rem;
    width: 100px;
    line-height: .9;
    transform: scale(0);
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    will-change: transform;
}
/* .content-info > h1:first-child {
    top: 0;
    left: 0;
    transform: translateX(-130%);
}
.content-info > h1:last-child {
    bottom: 0;
    right: 0;
    transform: translateX(130%);
} */
.content-desc > h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 100;
    max-width: 25rem;
    line-height: 1;
    transform: rotateX(90deg);
    transition: transform 650ms ease-in;
}
.content-desc > h2 {
    font-size: 6rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    opacity: 0;
    transition: opacity 650ms ease-in-out;
    font-weight: 100;
}
.about {
    height: 100%;
    margin-top: 630px;
    background-color: black;
}
.about-header {
    position: relative;
    height: 30%;
}
.about-header-text {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.about-header-text > h2 {
    position: relative;
    font-size: 6rem;
    font-weight: 100;
    width: 100%;
    padding: 0 .5rem;
    will-change: left;
   
}

.about-header-text > h2:nth-child(1) {
    text-align: end;
}
.about-header-text > h2:nth-child(2) {
    text-align: start;
}
.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text > h2 {
    height: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
    align-content: center;
    max-width: clamp(80%, 5vw, 90%);
    font-size: clamp(4rem, 6vw, 8rem);
}
#char {
    opacity: .1;
}
.gallery {
    height: 400%;
    background-color: black;
}
.gallery-container {
    height: 100%;
}
.gallery-header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-header > h2 {
    font-size: clamp(3rem, 18vw, 8rem);
    font-weight: 100;
    overflow: hidden;
}
.gallery-header > h2 > span {
    position: relative;
    transition: top 650ms ease-in;
}
.gallery-images {
    position: relative;
    margin: 0 auto;
    max-width: 75%;
    height: calc(100% - 250px);
    display: grid;
}

.gal-img {
    position: sticky;
    top: 0rem;
    height: 300px;
    will-change: transform;
    z-index: 4;
    background: black;
}
.gallery-view-more {
    display: grid;
    place-content: center;
    background-color: black;
    height: 10%;
}
.gallery-view-more > h2 {
    opacity: 0;
    font-size: 4rem;
    color: white;
    font-weight: 100;
    transition: opacity 650ms ease;
}
.gallery-view-more > h2 > a {
    text-decoration: none;
    color: white;
}
.details {
    position: relative;
    height: 100%;
    background: white;
}
.details-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    line-height: 1;
    -webkit-text-stroke: 0.3px black;
    color: transparent;
    
}
.details-container > h1 {
    text-align: center;
    font-size: 6rem;
    transform: scale(0);
    transition: transform 1s ease-in-out;
    will-change: transform;
}
.details-container > h1 > span {
    color: black;
    -webkit-text-stroke: .1px white;
    font-weight: 100;
}

.quote {
    height: 100%;
    background: white;
}
.quote-sticky {
    position: sticky;
    top: 5rem;
    height: 50%;
    overflow: hidden;
}
.video-container {
    transform: scale();
    /* overflow: hidden; */
    height: 100%;
}
.video-container > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    /* transform: scale(2); */
}
.video-container > .video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    color: red;
    text-align: center;
    line-height: 1;
}
.video-container > .video-text > .v-text {
    overflow: hidden;
}
.video-container > .video-text > .v-text > span {
    display: inline-block;
    transition: transform 650ms ease;
    will-change: transform;
}
.video-container > .video-text:last-child > .v-text > span  {
    transform: translate3d(0, 3rem, 0);
}

.package {
    position: relative;
    height: 200%;
    /* margin-top: 10rem; */
    background-color: black;
}
.services {
    /* height / 2 => vw */
    height: 500%;
    background-color: white;
    color: black;
}
.services > .services-sticky {
    position: sticky;
    top: 0;
}
.services-container {
    height: 100%;
    overflow: hidden;
}
.slider-services {
    width: min-content;
    transform: none;
    will-change: transform;
    height: 100%;
}
.slider-service-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}
.service {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 50vw; */
    width: 100vw;
    aspect-ratio: 1 / 2;
    padding: 80px 20px 60px;
    align-items: center;
    gap: 1rem;
}
.service > h1,
.service > h2 {
    font-weight: 100;
}
.service-detail {
    border-radius: 10px;
    text-align: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
    place-items: center;
    border: 3px solid;
}
.service:last-child > .service-detail {
    margin-top: 6.8rem;
}
.service-detail > h3 {
    font-weight: 100;
    font-size: 2.5rem;
}

footer {
    padding-top: 10rem;
}
.footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    height: 100%;
}
.footer-header > h1, 
.footer-header > h3,
.footer-header > h4 {
    font-weight: 100;
}
.footer-header > h4 > .active {
    color: grey;
}
.footer-end {
    padding-bottom: 1rem;
}


.footer-end,
.footer-end-contact{
    display: flex;
    justify-content: space-around;
    background: black;
    align-items: center;
}
.footer-end-end > h4 {
    font-weight: 100;
}
.contact > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact > div > a {
    color: white;
}
.contact > div > h4 {
    font-weight: 100;
}















/* 
footer {
    position: relative;
    background-color: black;
    height: 100%;
    padding-bottom: 3rem;
    overflow: hidden; 
}
.footer-container {
    margin: 0 auto;
    max-width: 75%;
    height: 100%;
    border-radius: 5px;
    display: grid;
    place-content: center;
    grid-row-gap: 5rem;
}

.footer-container > h1 {
    font-weight: 100;
    text-align: center;
    height: 25%;
    align-content: center;
    font-size: 10rem;
}
.footer-contact {
    text-align: center;
    font-size: 4rem;
}
.footer-contact > h3 {
    margin-bottom: 1rem;
}
.footer-contact > h3 > a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    max-width: 80%;
    width: 100%;
    display: inline-block;
}
.footer-container > h2 {
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    height: 25%;
    font-weight: 100;
}
footer > h1 {
    font-size: 10rem;
    text-align: center;
}

/* .nav-links {
    width: 100%;
}
.nav-links > ul {
    list-style: none;
    display: flex;
    color: white;
    justify-content: center;
    gap: 1rem;
}

.nav-links > ul > li > a{
    color: white;
    font-size: 2.4rem;
}
.social-icons, .toggle-menu {
    width: clamp(3rem, 6vw, 10rem)
}
.toggle-menu > img {
    cursor: pointer;
}
.content {
    position: relative;
    height: calc(100% / 1.2);
    /* font-family: "Roslindale Display Condensed, sans-serif"; */

/* .header {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.header > h1 {
    font-size: 30rem;
    font-weight: 100;
}
.notify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    overflow: hidden;
    max-height: 50px;
    height: 100px;
}
.arrow-holder {
    height: 100%;
    position: relative;
}
#arrow-one {
    height: 100%;
  position: relative;
  top: 0rem;
  transition: top 650ms cubic-bezier(.68,-0.55,.27,1.55);
}
.left > span, .right > span {
    font-size: 2.4rem;
}  */

@keyframes digit-one {
    to {
        transform: translateY(-420px);
    }
}
@keyframes digit-two {
    to {
        transform: translateY(-4200px);
    }
}
@keyframes digit-three {
    to {
        transform: translateY(-4200px);
    }
}
@keyframes reveal {
    to {
        clip-path: inset(0% -50%);
    }
}
@keyframes img {
    to {
        transform: scale(1);
    }
}
@keyframes opac-1 {
    to {
        opacity: 0;
    }
}
@keyframes opac-2 {
    to {
        opacity: 0;
    }
}
@keyframes opac-3 {
    to {
        opacity: 0;
    }
}
@keyframes plt1 {
    to {
        top: 0
    }
}
@keyframes plt2 {
    to {
        top: 0;
    }
}
@keyframes hide {
    to {
        display: none;
    }
}
@keyframes heroIMG {
    to {
        transform: scale(.5)
    }
}
@keyframes heroIMG1 {
    to {
        clip-path: inset(0% 0%);
    }
}

@keyframes heroIMG1Z {
    to {
        opacity: 1;
        transform: scale(.5);
    }
}
@keyframes heroIMG2Z {
    to {
        opacity: 1;
        left: -100px;
        /* transform: rotate(-30deg) translateX(-250px); */
    }
}



@keyframes heroIMGLeft {
    to { 
        /* opacity: 1; */
        /* transform: rotate(-30deg) tra/nslateX(-30px); */
    }
}

@keyframes heroIMGLeftZ {
    to { 
        opacity: 1;
        transform: scale(.38) rotate(-30deg) translateX(-250px);
    }
}


@keyframes heroIMGRight {
    to {
        opacity: 1;
        transform: scale(.38) rotate(30deg) translateX(250px);
    }
}












@media (max-width: 1200px) {
    .hero-img {
        /* clip-path: inset(0% 30%); */
        transform: translateZ(2100px);
        margin: 0 auto;
        align-items: center;
    }
    .hero-img > img {
        /* height: unset; */
        height: 100%;
    }

    .hero-img > img:nth-child(2) {
        opacity: 0;
        animation: heroIMGLeft 900ms 1.5s forwards, heroIMGLeftZ 900ms 1.5s ease-in forwards;
    }
    .hero-img > img:nth-child(3) {
        z-index: 1;
        opacity: 0;
        animation: heroIMGRight 900ms 1.5s forwards;
      }
      .service-detail {
        aspect-ratio: 16 / 6;
      }

    @keyframes heroIMGRight {
        to {
            opacity: 1;
            transform: scale(.38) rotate(20deg) translateX(480px);
        }
    }

    @keyframes heroIMGLeftZ {
        to {
            opacity: 1;
            transform: scale(.38) rotate(-20deg) translateX(-480px);
        }
    }

}

@media (max-width: 800px) {
    .service-detail {
        aspect-ratio: 16 / 9;
    }
}


@media (max-width: 500px) {
    .hero-img > img {
        height: unset;
    }
    .hero-img > img:nth-child(2) {
        opacity: 0;
        animation: heroIMGLeftZ 900ms 1.5s forwards, heroIMGLeftZ 900ms 1.5s ease-in forwards;
      }
      .hero-img > img:nth-child(3) {
        opacity: 0;
        animation: heroIMGRight 900ms 1.5s forwards, heroIMGRight 900ms 1.5s ease-in forwards;
      }
      .gal-img {
        height: 410px;
      }
      .service-detail {
        aspect-ratio: 16 / 9;
      }
    @keyframes heroIMGLeftZ {
        to {
            opacity: 1;
            transform: scale(.38) rotate(-30deg) translateX(-420px);
        }
    }
    @keyframes heroIMGRight {
        to {
            opacity: 1;
            transform: scale(.38) rotate(30deg) translateX(420px);
        }
    }
    
}

@media (max-width: 429px) {
    .hero-img > img:nth-child(2) {
        opacity: 0;
        animation: heroIMGLeftZMobile 900ms 1.5s forwards, heroIMGLeftZMobile 900ms 1.5s ease-in forwards;
      }
      .hero-img > img:nth-child(3) {
        opacity: 0;
        animation: heroIMGRightMobile 900ms 1.5s forwards, heroIMGRightMobile 900ms 1.5s ease-in forwards;
      }
    @keyframes heroIMGLeftZMobile {
        to { 
            opacity: 1;
            transform: scale(.38) rotate(-30deg) translateX(-300px);
        }
    }
    
    @keyframes heroIMGRightMobile {
        to {
            opacity: 1;
            transform: scale(.38) rotate(30deg) translateX(300px);
        }
    }
    
}


@media (max-width: 401px) {
    .hero-img {
        width: 100%;
        transform: translateZ(2500px);
    }

}
@media (max-width: 400px) {
    .gal-img {
        height: 300px;
    }
    .service-detail {
        aspect-ratio: 1 / 1;
    }
}


